.rocket {
  animation: rocketMove 5s linear infinite;
  /* transform-origin: center; */
}
.cloudLine {
  animation: lineIncrease 5s linear infinite;
  transform-origin: center;
}
.flameL {
  animation: flameSwivelL 5s linear infinite;
  transform-origin: center;
}
@keyframes flameSwivelL {
  0% {
    transform: translate(0px, 0);
  }
  25% {
    transform: translate(-1px, 0);
  }
  50% {
    transform: translate(1px, 0);
  }
  75% {
    transform: translate(-1px, 0);
  }
  100% {
    transform: translate(0px, 0);
  }
}
.flameR {
  animation: flameSwivelR 5s linear infinite;
  transform-origin: center;
}
@keyframes flameSwivelR {
  0% {
    transform: translate(0px, 0);
  }
  25% {
    transform: translate(1px, 0);
  }
  50% {
    transform: translate(-1px, 0);
  }
  75% {
    transform: translate(1px, 0);
  }
  100% {
    transform: translate(0px, 0);
  }
}
.flame1L {
  animation: flameSwivelL1 5s linear infinite;
  transform-origin: center;
}
@keyframes flameSwivelL1 {
  0% {
    transform: translate(0px, 0);
  }
  25% {
    transform: translate(-2px, 0);
  }
  50% {
    transform: translate(2px, 0);
  }
  75% {
    transform: translate(-2px, 0);
  }
  100% {
    transform: translate(0px, 0);
  }
}
.flame1R {
  animation: flameSwivel1R 5s linear infinite;
  transform-origin: center;
}
@keyframes flameSwivel1R {
  0% {
    transform: translate(0px, 0);
  }
  25% {
    transform: translate(2px, 0);
  }
  50% {
    transform: translate(-2px, 0);
  }
  75% {
    transform: translate(2px, 0);
  }
  100% {
    transform: translate(0px, 0);
  }
}
.flame2L {
  animation: flameSwivelL2 5s linear infinite;
  transform-origin: center;
}
@keyframes flameSwivel2L {
  0% {
    transform: translate(0px, 0);
  }
  25% {
    transform: translate(-1px, 0);
  }
  50% {
    transform: translate(1px, 0);
  }
  75% {
    transform: translate(-1px, 0);
  }
  100% {
    transform: translate(0px, 0);
  }
}
.flame2R {
  animation: flameSwivel2R 5s linear infinite;
  transform-origin: center;
}
@keyframes flameSwivel2R {
  0% {
    transform: translate(0px, 0);
  }
  25% {
    transform: translate(-1px, 0);
  }
  50% {
    transform: translate(1px, 0);
  }
  75% {
    transform: translate(-1px, 0);
  }
  100% {
    transform: translate(0px, 0);
  }
}

@keyframes rocketMove {
  0% {
    transform: translate(-3px, 0px);
  }
  100% {
    transform: translate(-3px, -150px);
  }
}
@keyframes lineIncrease {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.section7bg {
  background: rgb(24, 4, 50);
  /* background: linear-gradient(
    32deg,
    rgb(47, 7, 99) 0%,
    rgb(24, 4, 51) 30%,
    rgb(43, 5, 94) 70%,
    rgba(24, 4, 50, 1) 100%
  );
  background-size: 400% 400%;
  animation: bgAnim 5s linear infinite; */
  /* background-image: url("public/bgImage/HeroBg.svg"); */
}
