.rocket {
  animation: rocketMove 5s linear infinite;
  /* transform-origin: center; */
}
.cloudLine {
  animation: lineIncrease 5s linear infinite;
  transform-origin: center;
}
.flame{
  animation: flameSwivel 5s linear infinite;
  transform-origin: center;
}
@keyframes flameSwivel {
  0% {
    transform: translate(0px,-3px);
  }
  100% {
    transform: translate(0,5px);
  }
}

@keyframes rocketMove {
  0% {
    transform: translate(-3px,0px);
  }
  100% {
    transform: translate(-3px,-150px);
  }
}
@keyframes lineIncrease {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
