.crm-menu-desktop {
  position: relative !important;
}

.crm-menu-desktop.crm-fixed {
  position: fixed !important;
  top: 0 !important;
  z-index: 100000 !important;
  background-color: white !important;

  /* Add other styling properties for the fixed position */
}
