@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}
.bgImage {
  /* background: rgb(24, 4, 50); */
  background: linear-gradient(
    0deg,
    #c2e8fd 0%,
    #f7edff 25%,
    #c2e8fd 50%,
    #f7edff 75%,
    #c2e8fd 100%
  );
  background-size: 100% 100%;
  /* animation: bgAnim 10s linear infinite; */
  transform-origin: center;
}
@keyframes bgAnim {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
